.app{
    overflow: hidden;
}
.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #47e427,  #2de20a);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0 0;
    display: flex;
    
}
.header__navbar-item{
   margin: 0 8px;
   position: relative;
   min-height: 26px;
    

}
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--while-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}
.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;/*di vào thành bàn tay*/
}
.header__navbar-item--strong{
    font-weight: 400;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #1a8151;
    width: 1px;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);

}
.header__navbar-item--qr:hover .header__qr{
    display: block;
    
}
.header__navbar-icon-link{
    color: var(--while-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-title--nopointer{
    cursor: default;
    color: var(--while-color);
    
    

}
/*Header QR code*/
.header__qr{
    background-color: var(--while-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 120%;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);


}
.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img{
    width: 100% ;

}
.header__qr-apps{
    display: flex;
    justify-content: space-between;

}
.header__qr-link:nth-child(1){
    margin-left: 15px;
}
.header__qr-link:nth-child(2){
    margin-right: 14px;
}
.header__qr-download-img{
    height: 17px;
}
/*Header notifycation*/
.header__navbar-item-notify:hover .header__notify{
    display: block;
}
.header__notify{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--while-color);
    border: 1px solid #D3D3D3;
    cursor: default;
    transform-origin: calc(100% - 32px) top;/*Định tâm của transform*/
    animation: header__notifyGrowth ease-in 0.2s; 
    -webkit-animation: header__notifyGrowth ease-in 0.2s;/* webkit */
    -ms-zoom-animation: header__notifyGrowth ease-in 0.2s;/*Microsoft*/
     -o-animation: header__notifyGrowth ease-in 0.2s;/*opera */
     -moz-animation: header__notifyGrowth ease-in 0.2s;/*firefox */
    z-index: 1;
    will-change: opacity, transform ;/*Để trình duyệt tối ưu chuyển động */ 
    display: none;
    border-radius: 2px;
}
@keyframes header__notifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify::before{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    top: -29px;
    right: 4px;

}
.header__notify::after{
    content: "";
    display: block;
    width: 100px;
    height: 20px;
    position: absolute;
    right: 0;
    top:-16px;
    
}
.header__notify-header{
    height: 40px;
    background-color: var(--while-color);

}
.header__notify-header h3{
    color: #999;
    margin: 0;
    margin-left: 12px;
    font-weight: 400px;
    font-size: 1.5rem;
    line-height: 40px;
    user-select: none;/*Không cho copy*/

}
.header__notify-list{
    padding-left: 0;

}
.header__notify-item:hover{
    background-color: #e2dfdff7;

}
.header__notify-item--viewed{
    background-color: rgba(83, 231, 54, 0.09);
}
.header__notify-link{
    display: flex;
    width: 100% ;
    padding: 12px;
    text-decoration: none;
    

}
.header__notify-img{
    width: 48px;
    object-fit: contain;

}
.hearder__notify-info{
    flex: 1;
    margin-left: 12px;

}
.hearder__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
    

}
.hearder__notify-decscriotion{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}
.header__notify-footer{
    display: flex;
    
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
}
/*Header user*/
.header__navbar-item-user{
    display: flex;
    justify-items: center;
    position: relative;
    display: none; /*flex*/
}

.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);


}
.header__navbar-user-name{
    font-size: 1.4rem;
    font-weight: 400;

}
.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: 110%;
    right: 0;
    background-color: var(--while-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    box-shadow: 1px 2px #e0e0e0;
    display: none;
}
.header__navbar-item-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 52%;
    height: 8px;
   
}
.header__navbar-user-menu::before{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    top: -29px;
    right: 4px;
    z-index: -1;

}
.header__navbar-user-menu .header__navbar-user-item--separate{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--primary-color);
}
.header__navbar-user-menu .header__navbar-user-item--separate a{
    color: #000;
    font-weight: 400;
}
.header__navbar-user-item a{
   display: block;
   text-decoration: none;
   font-size: 1.4rem;
   color: var(--text-color);
   padding: 8px 16px;
    justify-content: center;
    
}
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item a:hover{
    background-color: #f1e4e4;
}

/* header mobie tab bar overlay */
.header-mobie-tab-bar-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 11;
    animation: fadeIn linear 0.3s;
    display: none;
}

.nav__mobile-close{
    position: absolute;
    top: 2.4rem;
    right: 1rem;
    color: #666;
    font-size: 2rem;
   
}
 .nav__mobile{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: var(--while-color);
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s;
    z-index: 12;
}
.nav__mobile-text{
    margin-left: 40px;
    font-size: 3.4rem;
    color: var(--primary-color);
}
.nav-mobile-list{
    margin-top: 24px;
    list-style: none;

}
.nav__mobile-link a:hover {
    color: var(--primary-color);
}
.nav__mobile-link a{
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 12px 0;
    font-size: 1.6rem;
    border-bottom: 1px solid rgb(139, 135, 135);
    margin-right: 100px;
    
}
/*Authen modal*/
.auth-form{
    width: 500px;
    background-color: var(--while-color);
    border-radius: 5px;
    overflow: hidden
}
.auth-form-login{
    display: none;
}
.auth-form-login-register{
    display: none;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400px;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}
.auth-form__input{
    height: 40px;
    width: 94%;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #777;
}
.auth-form__group-invalid .auth-form__input{
    border-color: #f33a58;
    box-shadow: 5px 0px 20px -8px #f33a58
  
}
.auth-form__group-invalid .auth-form__error-msg{
    display: block;
    font-size: 1.2rem;
    color: #f33a58;
    line-height: 1.6rem;
    padding: 6px 0 0;
}
.auth-form__aside{
    margin-top: 18px;
    
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}
.auth-form__controls{
    margin-top: 80px ;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls--back{
    margin-right: 8px;
}
.auth-form__socials{
    display: flex;
    padding: 16px 36px;
    justify-content: space-between;
    background-color: #F5F5F5;
    margin-top: 20px;
}
.auth-form__socials-icon{
    font-size: 1.8rem;

}
a.auth-form__socials-facebook{
    color: #fff;
}
.auth-form__socials-facebook{
    
    background-color: #3A5A98;
    
}
.auth-form__socials-facebook
.auth-form__socials-icon{
    color: var(--while-color);
}
.auth-form__socials-google{
    background-color: var(--while-color);
    color: #666;

}
.auth-form__socials-title{
    margin: 0 25px;
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;

}
.auth-form__help-separate{
    display: block;
    height: 22px;
    border: 1px solid #EAEAEA;
    margin: 1px 16px 0 ;

}
.auth-form__help-forgot{
    color: var(--primary-color);
}
/*Header with sreach*/
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;

}
.header-with-search{
    padding: 0 12px;
}
.header-mobie-tab-bar .header-mobie-tab-bar-icon{
    font-size: 2.6rem;
    color: var(--while-color);
    display: none;
}
.header-mobie-search .header-mobie-search-icon{
    font-size: 2.6rem;
    color: var(--while-color);
    display: none;
}
.header-logo{
    width: 200px;


}
.header-logo-link{
    text-decoration: none;
    color: transparent;
}
.header-search-checkbox:checked ~ .header__search{
    display: flex;
}
.header-logo-img{
    width: 160px;
    height: 90px;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    
}
.header__search{
    height: 40px;
    flex: 1;
    background-color: var(--while-color);
    border-radius: 2px;
    display: flex;
    align-items: center;

}

.header__cart{
    width: 150px;
    text-align: center;
} 
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;

}

.header__cart-icon{
    color: var(--while-color);
    font-size: 2.6rem;
    margin-top: 3px;
}
.header__cart-notice{
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 5px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border: 2px solid #80e66c;
    border-radius: 10px;
    background-color: var(--while-color);
    color: var(--primary-color);
    
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-list{
    position: absolute;
    top: calc(100% + 7px);
    right: 2px;
    background-color: var(--while-color);
    width: 400px;
    cursor: default;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    transform-origin: calc(100%) top;/*Định tâm của transform*/
    animation: header__notifyGrowth ease-in 0.2s; 
    -webkit-animation: header__notifyGrowth ease-in 0.2s;/*webkit*/
    -ms-zoom-animation: header__notifyGrowth ease-in 0.2s;/*Microsoft*/
    -o-animation: header__notifyGrowth ease-in 0.2s;/*opera*/
    -moz-animation: header__notifyGrowth ease-in 0.2s;/*firefox*/
    z-index: 1;
    will-change: opacity, transform ;/*Để trình duyệt tối ưu chuyển động*/
    
}
@keyframes C{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}


.header__cart-list::after{
    content: "";
    position: absolute;
    right: 2px;
    top: -32px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    cursor: pointer;
}
.header__cart-list--nocart .header__cart-list--nocart-img,
.header__cart-list--nocart .header__cart-list--nocart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header__cart-list--nocart-img{
    width: 55%;
    display: none;
    
}
.header__cart-list--nocart{
    padding: 24px 0;
}
.header__cart-list--nocart-msg{
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}
/* Cart item  */
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;

}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 30vh; /*View port height*/
    overflow-y: auto;
}
.header__cart-item{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    

}
.header__cart-item:hover{
    background-color: #F8F8F8;
}
.header__cart-img{
    width: 44px;
    height: 44px;
    margin: 12px;
    border: 1px solid #e8e8e8;



}
.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   

}
.header__cart-item-name{
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;


}
.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);

}
.header__cart-item-multiply{
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px ;

}
.header__cart-item-qnt{
    color: #757575;
    font-size: 1.2rem;
     

}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;


}
.header__cart-item-description{
    color: #757575;
    font-size: 1.3rem;

}
.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.3rem;

}
.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-view-carts{
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-view-carts:hover{
    background-color: #7ddf6b
    ;
}

.header__search-input-wrap{

    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
    outline: none;
}
.header_search-select{
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
}
.header_search-select:hover{
    cursor: default;
}
.header_search-select-label{
    color: var(--text-color);
    font-size: 1.4rem;

}
.header_search-select-icon{
    font-size: 1.4rem;
    color: #9d9595;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.header__search-btn{
    background-color: var(--primary-color);
    height: 34px;
    width: 60px;
    border: none;
    border: 3px;
    margin-right: 3px;
    outline: none;
}
.header__search-btn:hover{
    cursor: pointer;
    background-color: #2eef08a8;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--while-color);
}
.header__search-option{
    position: absolute;
    right: 0;
    top: calc(100% + 4px);
    width: 130px;
    list-style: none;
    padding-left: 0;
    box-shadow: 1px 2px #e0e0e0;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;

}
.header__search-option::after{
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    display: block;
    width: 100%;
    height: 15px;

}
.header_search-select:hover .header__search-option{
    display: block;
}
.header__search-option-item{
    padding: 8px 8px;
    background-color: var(--while-color);
    
}
.header__search-option-item:first-child{
    border-top-left-radius: 2px ;
    border-top-right-radius: 2px ;

}
.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}
.header__search-option-item:hover{
    background-color: #f3f5f4;
    cursor: pointer;

}
.header__search-option span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px    ;
}
.header__search-option i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;

}
.header__search-option-item--active i{
    display: inline-block;
}
/* search history */
.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__search-history{
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: calc(100% - 16px);
    border-radius: 2px;
    background-color: var(--while-color);
    box-shadow: 0 0 4px rgb(206, 204, 204);
    display: none;
    overflow: hidden;
    z-index: 1;
}
.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 8px 0 0;
    
}
.header__search-history-item{
    height: 38px;
    padding: 0 12px;
  
}
.header__search-history-item:hover{
    background-color: #d3d4d3;
}
.header__search-history-item:first-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

}

.header__search-history-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 38px;
    display: block;
}
/*Header sort bar*/
.header__sort-bar{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height:var(--header-sort-bar-height);
    background-color: var(--while-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;



}
.header__sort-item{
    flex: 1;
}
.header__sort-link{
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    color: var(--text-color);
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}
.header__sort-link::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}
.header__sort-item:first-child .header__sort-link::after{
    display: none;
}
.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}
/*App container*/

.app_container{
    background-color: #F5F5F5;
}
.app_content{
    padding-top: 36px;
}
.category{
    border-radius: 2px;
    background-color: var(--while-color);

}
.category__heading{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    margin-top: 0;
    padding: 16px 16px 0;
    text-transform: uppercase;
    
}
.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    
    
}
.category-list{
    padding: 0 0 6px 0  ;
    margin-left: 9px;
}
.category-item{
    list-style: none;
    position: relative;

}
.category-item:first-child::before{
    display: none;
}
.category-item::before{
    content: "";
    border-top: 1px solid #E1E1E1;
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
}
.category-item--active .category-item__link{
    color: var(--primary-color);

}
.category-item--active .category-item__link::before{
    content: "";
    top: 50%;
    left: 8px;
    position: absolute;
    border: 4px solid;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link{
    position: relative;
    right: 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 11px 16px;
    transition: right linear 0.1s ;
}
.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}
/* Mobie cateory */
.mobile-category{
    display: none;
}
.mobile-category__list{
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto; /*Sinh ra thanh kéo ngang*/

}
.mobile-category__list::-webkit-scrollbar {
    display: none;
}
.mobile-category__item{
    flex-shrink: 0;
    margin-right: 10px;
}
.mobile-category__item:nth-of-type(3n+1) .mobile-category__link{
    background-color: #87AFD8;
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{
    background-color: #76C9BD;
}
.mobile-category__item:nth-of-type(3n+3) .mobile-category__link{
    background-color: #88CF81;
}

.mobile-category__link{
    --line-height: 2rem;
    text-decoration: none;
    color: var(--while-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    text-align: center;
    width: 110px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 300;    
    user-select: none;
    -webkit-user-select: none;
    padding: 0 4px;
}
.home-filter{
    background-color: rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
   
}
.home-filter__label{
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}
.home-filter .home-filter__btn{
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page{
    display: flex;
    margin-left: auto;
    align-items: center;


}
.home-filter__num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__current{
    color: var(--primary-color);


}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 30px;
}
.home-filter__page-btn{
    display: flex;
    flex: 1;
    background-color: var(--while-color);
    text-decoration: none;
}
.home-filter__page-btn:first-child{
    border: 1px solid #eee;
    ;
}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.3rem;
    color: #555;
}
.home-filter__page-btn-disabled{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn-disabled .home-filter__page-icon{
    color: #ccc;
}
/*Product item*/
.home-product-wrap{
    transition: transform linear 0.1s;
    will-change: transform;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.home-product-wrap:hover{
}
.home-product{
    margin-bottom: 10px;
}
.home-produt-item{
   
    margin-top: 10px;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: block;
    text-decoration: none;
}
.home-product-wrap:hover{
    transform: translateY(-2px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.home-produt-item-img{
    
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-position: top center;
}
.home-produt-item-name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;


}
.home-produt-item-price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;


}
.home-produt-item-price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}
.home-produt-item-price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
    font-weight: 500;
}
.home-produt-item-action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-produt-item-like{
    font-size: 1.3rem;
}
i.home-produt-item-like-icon-fill{
    color: #f63d30;
    display: none;
}
.home-produt-item-like--liked .home-produt-item-like-icon-empty{
    display: none;
}
.home-produt-item-like--liked .home-produt-item-like-icon-fill{
    display: block;
}
.home-produt-item-rating{
    font-size: 1rem;
    transform: scale(0.8);/*Làm nhỏ lại*/
    transform-origin: right;/*Chỉnh tâm qua bên phải*/
    color: #b9b6b6;
    margin: -1px 0 0 auto;
}
.home-produt-item__start-gold{
    color: var(--star-gold-color);
}
.home-produt-item__sold{
    color: var(--text-color);
    font-size: 1.2rem;
    margin-left: 4px;
}
.home-produt-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 5px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-produt-item__favourite{
    position: absolute;
    top: 10px;
    left: -5px;
    background-color: var(--primary-color);
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}
.home-produt-item__favourite::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}
.home-produt-item__favourite span{
    color: var(--while-color);
}
.home-produt-item__favourite i{
    color: var(--while-color);
    font-size: 0.9rem;
    margin: 0 5px;
}
.home-produt-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.95);
    text-align: center;
    border-top-right-radius: 2px;

}
.home-produt-item__sale-off::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.95) transparent rgba(255, 216, 64, 0.95);
}
.home-produt-item__sale-off-percent{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2rem;
    color: #ee4d2d;
    position: relative;
    top: 2px;
    

}
.home-produt-item__sale-off-label{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
    color: var(--while-color);
    position: relative;
    top: 3px;
    
}
.home-product-wrap .btn-add-product{
    height: 30px;
    margin: 5px 0 10px 20px;
    width: 80%;
    font-weight: 300;
    font-size: 1.4rem;
}
.home-product-wrap{
    background-color: var(--while-color);
}
/* home-product-panigation */
.home-product-panigation{
    margin: 48px 0 32px 0;
    padding-left: 0;
}
/*footer*/
.footer{
    border-top: 3px solid var(--primary-color);
    padding-top: 16px;
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 400;
}
.footer__list{
    padding-left: 0;
    list-style: none;

}
.footer__item-link{
    text-decoration: none;
    font-size: 1.3rem;
    color: #737373;
    padding: 6px 0;
    display: flex;
    align-items: center;
    
}
.footer__item-link:hover{
    color: var(--primary-color);
}


.footer__item-icon{
    font-size: 1.8rem;
    margin: -1px 8px 0 0;
}
.footer__download{
    display: flex;

}
.footer__download-qr{
    width: 80px;
    height: 80px;
    border: 1px solid var(--boder-color);

}
.footer__download-apps{
    margin-left: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.footer__download-app-img{
  
    height: 25px;
}
.footer__download-apps-link{
    text-decoration: none;
}
.footer-end{
    display: flex;
    flex-direction: column;

}
.footer__policy{
    margin: 20px auto 0;

}
.footer__policy-item{
    text-decoration: none;
    color: #737373;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 0 20px;
    border-right: 1px solid #dedede;

}
.footer__registration{
    width: 300px;
    margin: auto;
    height: 100px;
}
.footer__text{
    display: block;
}
.footer__text{
    color: #737373;
    font-size: 1.4rem;
    margin: 4px auto;
}
.footer__text:last-child{
    margin-bottom: 50px;
}
.footer-bottom{
    background-color: #F5F5F5;
}
.footer__pay{
    text-decoration: none;
}
.footer__pay_CB{
    width: 20%;
    height: 20%;
}







/* ======= Toast message ======== */

#toast {
    position: fixed;
    top: 100px;
    right: 32px;
    z-index: 999999;
  }
  
  .toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
  }
  
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
  
  .toast--success {
    border-color: #47d864;
  }
  
  .toast--success .toast__icon {
    color: #47d864;
  }
  .toast + .toast {
    margin-top: 24px;
  }
  
  .toast__icon {
    font-size: 24px;
  }
  
  .toast__icon,
  .toast__close {
    padding: 0 16px;
  }
  
  .toast__body {
    flex-grow: 1;
  }
  
  .toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  
  .toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
  }
  
  .toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  /* introduction */
  .introduction__main-mimage{
    width: 100%;
    height: 300px;
  }
  .introduction__header{
    font-size: 40px;
       display: flex;
    align-items: center;
    justify-content: center;
  }
  .introduction__main-header{
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 8px;
  }
  .introduction__main-text{
    color: #797b7c;
    font-size: 16px;
    line-height: 28px;
  }
  .introduction__main-text-header{
    color: #797b7c;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin: 20px 60px;

  }
  .introduction__btn{
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 22px;
    background-color: var(--primary-color);
    color: var(--while-color);
    padding: 15px 35px;
    border-radius: 30px;
    outline: none;
    /* margin: 20px 478px; */
    border: none;
    cursor: pointer;
    justify-content: center;
    
  }
  .introduction__text{
    justify-content: center;
    max-width: 1084px;
    width: 100%;
    line-height: 25px;
    font-size: 32px;
    font-weight: 700;
  }

  .dialog{
    display: none;
    position: fixed;
    top: 180px;
    left: 530px;
    width: 300px;
    height: 150px;
    border: 2px solid var(--primary-color);
   
  }
  .dialong__title{
    background-color: var(--primary-color);
    color: var(--while-color);
    margin: 0;
    font-size: 25px;
    line-height: 40px;

  }
  .dialog__text{
    font-size: 20px;
    margin: 0;
    padding: 15px;
   
  }
  .dialog__main{
    background-color: var(--while-color);
    height: 106px;
  }
  .dialog__btn{
    font-size: 18px;
    float: right;
    margin: 20px  10px;
    margin-bottom: 20px;
    


  }



